<!-- controller.main -->

<!-- Header -->
<div class="row header" ng-cloak>
	<div class="col-md-12">
		<div class="qvobject fifty" data-qvid="ycppXj" id="ycppXj"></div>
	</div>
</div>

<!-- KPIs -->
<div class="row">
	<div class="col-md-4">
		<div class="fkpi">
			<h3>High Priority Cases</h3>
			<div class="text-center"><img src="img/bg-gray.png" class="devider"></div>
			<h2>{{ kapi[0] }}</h2>
		</div>
	</div>
	<div class="col-md-4">
		<div class="fkpi">
			<h3>medium  Priority Cases</h3>
			<div class="text-center"><img src="img/bg-gray.png" class="devider"></div>
			<h2>{{ kapi[1] }}</h2>
		</div>
	</div>
	<div class="col-md-4">
		<div class="fkpi">
			<h3>Low Priority Cases</h3>
			<div class="text-center"><img src="img/bg-gray.png" class="devider"></div>
			<h2>{{ kapi[2] }}</h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<button class="btn btn-default pull-right" export-to-csv data="export[0].data" headers="export[0].headers" title="'myFileName'">Export</button>
		<div class="qvobject" data-qvid="a5e0f12c-38f5-4da9-8f3f-0e4566b28398" id="a5e0f12c-38f5-4da9-8f3f-0e4566b28398"></div>
	</div>
</div>


